archive
checkpoints
lightning_logs
anova_statistical_analysis
anova_lmm_statistical_analysis
raw_counts_and_verification
outputs
feature_emotion_analysis
stats_output
__pycache__

.env

data
data_my
jomon_kaen_dataset
pottery
processed

*.pth
*.csv
*.ply
*.json
*.png
*.wav
*.mp4
*.obj
*.zip
*.pdf
*.ckpt
*.xlsx